<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <script></script>
    <style></style>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
     {{>header}}
     {{errorMsg}}
    {{>footer}}
  </body>
</html>
